<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github_quarkus_cloudui</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github_cloudui_ui5</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github_quarkus_odata</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github_quarkus_aztablestorage</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
  </servers>

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <properties>
        <app.azure.functionAppName>xxx</app.azure.functionAppName>
        <app.azure.functionAppRegion>germanywestcentral</app.azure.functionAppRegion>
        <app.azure.functionResourceGroup>yyy</app.azure.functionResourceGroup>
      </properties>
    </profile>
  </profiles>

</settings>